@*@inject BookStore.Repository.IBookRepository _BookRepository*@
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
@inject Microsoft.Extensions.Options.IOptions<NewBookAlertConfig> _newBookConfigurationOption


@inject Microsoft.Extensions.Options.IOptionsSnapshot<NewBookAlertConfig> _newBookConfigurationOptionSnapshot

@{
    var newBookAlert = _configuration.GetSection("NewBookAlert");
}
@* Get _configuration from NewBookAlert in View Side *@
@{
    var newBookAlertModel = new NewBookAlertConfig();
    _configuration.Bind("NewBookAlert", newBookAlertModel);
}

@*Using IOptions *@
@{
    var newBookAlertConfigurationIOption = _newBookConfigurationOption.Value;
}

@*Using IOptionsSnapshot *@
@{
    var newBookAlertConfigurationIOptionsSnapshot = _newBookConfigurationOptionSnapshot.Value;
}

@{
    //Get("InternalBook") && Get("ThirdPartyBook") Gets from Startup Files
    var _bookBookAlertConfigs = _newBookConfigurationOptionSnapshot.Get("InternalBook");
    var _thirdPartyBookAlertConfigs = _newBookConfigurationOptionSnapshot.Get("ThirdPartyBook");
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/Images/logo.png" asp-append-version="true" height="100" width="100" class="img-fluid" alt="Alternate Text" />
                @*<i class="font-weight-bold">@_BookRepository.AppName()</i>*@
                <i class="font-weight-bold text-black">
                    @*from _configuration*@
                    @_configuration["AppName"]
                </i>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="home" asp-action="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="home" asp-action="aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="home" asp-action="contactus">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="book" asp-action="getallbook">All Books</a>
                        @*<a class="nav-link text-dark"  asp-route="getAllBookRoute">All Books</a>*@
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area=""  asp-protocol="http" asp-host="google.com">New Link</a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="book" asp-action="addnewbook">Add New Books</a>
                        @*<a class="nav-link text-dark" asp-route="addNewBookRoute">Add New Books</a>*@
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                <ul class="navbar-nav flex-grow-1">
                    <partial name="_LoginInfo" />
                </ul>

            </div>
        </div>
    </nav>

    @* Using _configuration method *@
    @if (_configuration.GetValue<bool>("NewBookAlert:DisplayBookAlert"))
    {
        <div class="alert alert-info d-none" role="alert">
            <h4>Hello text</h4>
            @(_configuration.GetValue<string>("NewBookAlert:BookName"))
        </div>
    }

    @* Using newBookAlert GetSection Method *@
    @if (newBookAlert.GetValue<bool>("DisplayBookAlert"))
    {
        <div class="alert alert-info d-none" role="alert">
            @(newBookAlert.GetValue<string>("BookName"))
        </div>
    }

    @* Print _configuration from NewBookAlert  *@
    @if (newBookAlertModel.DisplayBookAlert)
    {
        <div class="alert alert-info d-none" role="alert">
            @newBookAlertModel.BookName
        </div>
    }

    @*Print Using IOptions from NewBookAlert Obj *@
    @*IOption Ma application restart thay pachi new effect thay browser fresh par nai*@
    @if (newBookAlertConfigurationIOption.DisplayBookAlert)
    {
        <div class="alert alert-info d-none" role="alert">
            @newBookAlertConfigurationIOption.BookName
        </div>
    }

    @*Print Using IOptionsSnapshot from NewBookAlert Obj *@
    @*IOptionsSnapshot Ma application Refresh karie etle*@

    @if (newBookAlertConfigurationIOptionsSnapshot.DisplayBookAlert)
    {
        <div class="alert alert-dark d-none" role="alert">
            @newBookAlertConfigurationIOptionsSnapshot.BookName
        </div>
    }
    @*Print Using IOptionsSnapshot ThirdParty Books *@

    @if (_thirdPartyBookAlertConfigs.DisplayBookAlert == true && _bookBookAlertConfigs.DisplayBookAlert == true)
    {
        <div class="alert alert-success d-none" role="alert">
            @_thirdPartyBookAlertConfigs.BookName
            <p> & </p>
            @_bookBookAlertConfigs.BookName
        </div>
    }
</header>